<!-- navbar -->
<nav class="navbar container navbar-expand-lg navbar-light bg-light border border-4">
  <div class="container fs-4 fw-bold">
    <a class="navbar-brand fs-4 p-2" routerLink="/home">Student System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link p-2" routerLink="/home">Home</a>
        <a class="nav-link p-2 " [routerLink]="['students/index']">AllStudents</a>
        <!-- <a class="nav-link p-2" routerLink="/details">Details</a> -->
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>